@font-face {
    font-family: 'Cormoran';
    src: url(/font/CormorantGaramond-Light.woff2);
    font-weight: normal;
}
@font-face {
    font-family: 'Cormoran';
    src: url(/font/CormorantGaramond-LightItalic.woff2);
    font-weight: italic;
}